.form {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.form-item {
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-item h3 {
    margin-bottom: 3px;
}

.form-item p {
    margin-top: 1px;
    font-size: 14px;
    color: red;
}

.form-item input[type=text] {
    width: 97.7%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.button {
    margin-top: 25px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
}